/rc/config/gh/hosts.yml
/rc/config/nvim/plugin/packer_compiled.lua
/rc/config/bpytop
/rc/config/ipython
/rc/config/jupyter
/rc/config/matplotlib
/rc/config/procps
/rc/config/pudb
/rc/config/wandb
/rc/config/wslu
